body {
  margin: 0;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
}

/* контейнер */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 20px;
}

/* картка */
li {
  text-align: center;
  color: white;
}

/* картинка */
img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}

/* текст */
p {
  margin-top: 10px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #00bfff;
}